



@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*font-family: 'Roboto', sans-serif;*/


body {
    background-color: #E5E5E5;
}

.container {
   width: 414px;
   position: relative;
}

.topo {
    height: 92px;
    background-color: #CF2B2B;  
    width: 414px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  
    position: absolute;
    z-index: 1;
}

.topo h1 {
    font-family: 'Righteous', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    height: 44px;
    line-height: 55px;
    letter-spacing: -0.012em;
    color: #FFFFFF;
    margin-left: 21px;
    padding-top: 8px;
}

.topo h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    height: 17px;
    line-height: 21px;
    color: #FFFFFF;
    margin-left: 21px;
    margin-top: 5px;
}

.conteudo {
    height: 938px;
    display: flex;
    flex-direction: column;
}

.Primeiro {
    font-family: 'Righteous', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.018em;
    height: 25px;
    margin: 123px 0 17px 19px;
}

.marginMenor {
    margin-top: 27px;
}

.conteudo .pratos, .bebidas, .sobremesas {   
    
    border-radius: 9px;
    display: flex;
    overflow-x: scroll;    
    
}

.conteudo .prato, .bebida, .sobremesa {
    height: 216px;
    width: 172px;    
    border-radius: 9px;
    background-color: #FFFFFF;
    margin-right: 16px;
}

.aumentar {
    width: 182px;
}

.pratos img {
    margin: 18px 14px 0px 14px;
    border-radius: 4px;
}

.pratos {
    height: 216px;
}
.MarginRightMaior {
    margin-right: 19px;
}

.MarginLeftMaior {
    margin-left: 19px;
}

.conteudo .bebida {
    height: 202px;
}

.conteudo .sobremesa {
    height: 197px;
}

.rodape {
    height: 92px;
    width: 414px;
    background-color: #FFFFFF;
    margin-top: 0px;
    margin-bottom: 0px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.esperadeselecao {
    position: absolute;
    width: 364px;
    height: 61px;
    background: #CBCBCB;
    border-radius: 50px;
    position: absolute;
}

.botaofinal {  
    display: flex;  
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.018em;
    width: 364px;
    height: 53px;
    color: #FFFFFF;
}

.verde {
    background: green;
}

.cabecario {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin-left: 15px;
    margin-top: 8px;
    height: 23px;
    
}

.descricao {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #A6A6A6;
    margin-left: 15px;
    margin-top: 4px;
    margin-right: 11px;
}

.preco {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    height: 19px;
    color: #000000;
    margin-left: 15px;
    margin-top: 5px;
}

.imgbebida {
    width: 144px;
    height: 87px;
    margin: 19px 13px 8px 15px;
    border-radius: 4px;
}


.cabecariobebida {
    margin: 0 18px 4px 15px;
}

.descricaobebida {
    margin: 0 11px 9px 14px;
}
   
.precobebida {
    margin: 0 92px 16px 14px;
}

.imgsobremesa {
    width: 144px;
    height: 82px;
    margin: 18px 13px 8px 15px;
    border-radius: 4px;
}

.cabecariosobremesa {
    margin: 0 18px 4px 15px;
}

.descricaosobremesa {
    margin: 0 11px 9px 14px;
}

.precosobremesa {
    margin: 0 92px 16px 14px;
}

.selecionado {
    border: 5px solid green;
    box-sizing: border-box;
}

